<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Id = {{id}}</title>
</head>

<body>
    <h1>Statistics for: {{id}} </h1>
    <p>Annotation : {{annotation}}</p>
    <p>Statistics : {{stats}} </p>
    <p>Lyrics: {{lyrics}}</p>

</body>
</html>
