<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Id = {{id}}</title>
</head>

<body>
    <h1>Statistics for: {{hit.full_title}} </h1>
    <p>Annotation : <img src="{{hit.song_art_image_thumbnail_url}}"></img></p>
    <p>Statistics : {{hit.stats.hot}} </p>
    <!-- <p>Lyrics: {{lyrics}}</p> -->

</body>
</html>
